body {
    margin: 0;
    overflow: hidden;
}
#root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(162.44deg, #000519 8.84%, #000000 87.98%);
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url('RobotoFlex.ttf') format('truetype');
}